@charset "UTF-8";


/**** CONTENIDORS PRINCIPALS *****/

#container-pagina-llico{
    padding: 10px 10px 10px 0px;
    color: #266fdc;
    font-family: Lato, sans-serif;
}

#container-pagina-llico-avaluacio{
    padding: 10px 10px 10px 0px;
    color: #71096C;
    font-family: Lato, sans-serif;
}


#container-boto-desplega {
    float: right;
    margin-bottom: 15px;
}



#container-objectes {
    clear: right;
    margin-top: 20px;
    margin-bottom: 25px;
    border-top: 2px solid currentColor;

}


#boto-desplega-objectes {
    font-size: 13px;
    padding: 8px 10px;
    border: 1px solid currentColor;
    color: inherit;
    background-color: white;
    border-radius: 0px;
}


#container-pagina-llico #boto-desplega-objectes:hover {
    color: white;
    background-color: #266fdc;
}

#container-pagina-llico-avaluacio #boto-desplega-objectes:hover {
    color: white;
    background-color: #71096C;
}




/* OBJECTES */

.objecte {
    cursor: pointer;
}

.objecte h5 {
    color: inherit;
    margin-bottom: 0px;
}


.objecte-nivell-llico {
    background-color: aliceblue;
}



.objecte-capcalera{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 35px 12px 0px;
    border-top: 0.75px solid currentColor;
    
}

.objecte-pila {
    min-width: 55px;
    text-align: center;
}

.objecte-pila-nivell-llico {
    min-width: 55px;
    text-align: center;
    margin: 10px 0px;

}


    
.objecte-codi{
    min-width: 65px;
    text-align: center;
}

.objecte-codi-content{
    font-size: 22px;
    margin: 0px;
    color: inherit;

}


.objecte-titol{
    align-items: start;
    padding-right: 25px;
}

.objecte-titol-content {
    font-size: 18px;
    color: inherit;
    margin: 0px;
    padding-left: 10px;
}




.objecte-icona-oa {
    font-size: 28px;
    padding-left: 10px;
    margin-left: auto;
}



ul.dcada-recursos-nivell-llico{
    margin-left: 0px;
    padding-left: 0px;
}


ul.dcada-recursos-nivell-llico li{
    list-style-type: none;
    margin-bottom: 8px;
}

div.dcada-recursos-nivell-llico-top {
    margin-bottom: 30px;
}

ul.dcada-recursos-nivell-llico span.dcada-recursos-nivell-llico-nom{
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
}

.objecte-pila span {
    font-size: 14px;
}

.objecte-pila img {
    width: 20px;
    height: auto;
}

.objecte-pila-nivell-llico img {
    width: 17px;
    height: auto;
}


.objecte-icona-oa img {
    width: 20px;
    height: auto;
    display: flex;
    margin: 0 auto;
}


.objecte-recurs-complecio img {
    width: 18px;
    height: auto;
    display: flex;
    margin: 0 auto;
}



.objecte-titol-content b {
    vertical-align: middle;
}

/*** RECURSOS DE L'OBJECTE ****/


.objecte-recursos {
    align-items: start;
}


.objecte-recursos-llista{
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}


.objecte-recurs{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 35px 12px 0px;
    padding-left: 130px;

}


.objecte-recurs-titol {
    font-size: 16px;
    padding-right: 30px;
}


.objecte-recurs-complecio{
    margin-left: auto;
    padding-left: 10px;
    display: flex;
    align-items: center;
}



/*** ESTIL ENLLAÇOS **/

.objecte-recurs a{
    color: inherit;
    font-size: 1em;
    font-weight: normal;
}

.objecte-recurs a:hover{
    color: inherit;
    font-size: 1em;
    font-weight: normal;
    text-decoration: underline;
}

.avaluacio, .recurs-avaluacio {
    color: #71096C;
}

.desplega-oa {
    display: none;
}


.missatge-llegits-forum {
    font-size: 13px;
    color: inherit;
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
}

/*** ESTIL BLOC DATA LLIURAMENT **/

.container-lliurament-data{
    color: inherit;
}

.lliurament-data-content {
    margin-left: 15px;
    position: relative;
    top:10px;
}

.lliurament-data-content > span {
    margin-left: 5px;
    vertical-align: middle;
}


.lliurament-data-content > i {
    font-size: 18px;
}





